.shoe_container.bluemode {
  background-image: url(../img/blue_dot_bkg.jpg);
}

.shoe_container.bluemode .background_triangle {
  background-color: #fc442a;
}

@media only screen and (min-width: 768px) {
  .shoe_container.bluemode .background_triangle {
    right: -20%;
  }
}

.shoe_container.bluemode header {
  background-color: #046d9a;
}

.shoe_container.bluemode header ul li {
  color: white;
}

.shoe_container.bluemode header ul li .cart {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.shoe_container.bluemode header #logo_black {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.shoe_container.bluemode .shoe-container2 .round-button .round-button-circle {
  border: 10px solid #fc442a;
  background: #fc442a;
  box-shadow: 0 0 3px #555;
}

.shoe_container.bluemode .shoe-container2 .round-button .round-button-circle:hover {
  border: 10px solid #e0cca7;
  background: #046d9a;
  background-color: #046d9a;
}

.shoe_container.bluemode .shoe_description {
  text-shadow: 0 0 3px #046d9a;
  color: white;
}
