.shoe_container.pinkmode {
  background-image: url(../img/pink_dot_bkg.jpg);
}

.shoe_container.pinkmode .background_triangle {
  background-color: #048686;
}

@media only screen and (min-width: 768px) {
  .shoe_container.pinkmode .background_triangle {
    right: -20%;
  }
}

.shoe_container.pinkmode header {
  background-color: #e87390;
}

.shoe_container.pinkmode header ul li {
  color: white;
}

.shoe_container.pinkmode header ul li .cart {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.shoe_container.pinkmode header #logo_black {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.shoe_container.pinkmode .shoe-container2 .round-button .round-button-circle {
  border: 10px solid white;
  background: white;
  box-shadow: 0 0 3px #555;
}

.shoe_container.pinkmode .shoe-container2 .round-button .round-button-circle:hover {
  border: 10px solid #048686;
  background: #e87390;
  background-color: #e87390;
}

.shoe_container.pinkmode .shoe_description {
  text-shadow: 0 0 3px #e87390;
  color: white;
}
