.shoe_container.redmode {
  background-image: url(../img/red_dot_bkg.jpg);
}

.shoe_container.redmode .background_triangle {
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .shoe_container.redmode .background_triangle {
    right: -20%;
  }
}

.shoe_container.redmode header {
  background-color: #d20e32;
}

.shoe_container.redmode header ul li {
  color: white;
}

.shoe_container.redmode header ul li .cart {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.shoe_container.redmode header #logo_black {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.shoe_container.redmode .shoe-container2 .round-button .round-button-circle {
  border: 10px solid #d20e32;
  background: #d20e32;
  box-shadow: 0 0 3px #555;
}

.shoe_container.redmode .shoe-container2 .round-button .round-button-circle:hover {
  background: white;
  opacity: 0.9;
  -webkit-transform: scale(1.2);
  background-color: white;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.1);
}

.shoe_container.redmode .shoe_description {
  text-shadow: 0 0 3px #d20e32;
  color: white;
}
