/* _________________________________________
CONTENT:	Asics Animation Webpage
AUTHOR:		Melissa I. Sattler
____________________________________________

TABLE OF CONTENTS:

1. VARIABLES
2. TYPOGRAPHY
3. CONTENT

========================================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizinshoe-side2g: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*keep content on float element from going over eachother*/
/* 1. VARIABLES  ========================================= */
.open_slider,
.open_slider_two {
  position: absolute;
  top: 3800px;
  left: 1250px;
  width: 200px;
  height: 50px;
  z-index: 200;
  display: none;
}

section div {
  height: 0px;
}

.showFact {
  position: absolute;
  top: 4200px;
  left: 1000px;
  width: 0;
  /* width as the % value */
  transform-origin: 50% 50%;
  transition: all .8s ease-in;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: white;
  z-index: 200;
}

.showFact.transform {
  width: 417px;
  height: 250px;
  transition-duration: 1s;
}

.second_slider {
  position: absolute;
  top: 7475px;
  left: 35px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
}

#slider #image_slider {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 600px;
  list-style: none;
  transition-duration: 1s;
  /*   transform-origin: 50% 50%; */
}

#slider #image_slider li {
  /*   transform-origin: 50% 50%; */
  position: relative;
  display: block;
  float: left;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

#leftControl {
  display: none;
}

#rightControl {
  display: none;
}

.nav-bullet {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 200px;
}

.nav-bullet ul li {
  float: left;
  margin: 0 auto;
  list-style-type: none;
}

.nav-bullet ul li .nav {
  margin: 0 auto;
  list-style-type: none;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 12px;
  background-color: #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/*BULLET HIGHLIGHT CLASS*/
.nav-bullet ul li a.activeBullet {
  background-color: #bf9756;
}

.nav-bullet ul li a:hover, .nav-bullet ul li a.active {
  background-color: #bf9756;
  opacity: 0.8;
}

.active {
  background-color: #bf9756 !important;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

#slideInner {
  transform-origin: 50% 50%;
}

#slidesContainer .title_slider {
  font-size: 30px;
  text-align: center;
  color: white;
}

.slide {
  transform: translateX(-50%);
  transition: all 1s ease-in;
}

.slide p {
  padding: 26px 0px;
  height: 193px;
  line-height: 1.3em;
  background: url(../img/border_slider.png) no-repeat;
}

.transform .slide {
  transform: translateX(0);
}

/* 2. TYPOGRAPHY  ======================================== */
body {
  font-family: "Orator";
  text-decoration: uppercase;
}

@font-face {
  font-family: Orator;
  font-weight: normal;
  src: url(../font/Orator-Std-Medium.ttf) format("truetype");
}

/*  CONTENT  =============================================== */
body.index {
  background-color: #424242;
  -webkit-font-smoothing: antialiased;
  background-image: url("../img/stars/GoldStars.png");
}

body.index .body__starbkg {
  position: relative;
  top: 0;
  left: 0;
  width: 1440px;
  height: 11264px;
  margin: 0 auto;
  z-index: -10;
}

div.page-wrapper {
  position: relative;
  width: 1440px;
  height: 11264px;
  margin: 0 auto;
  box-shadow: 0px 100px 39px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  transition-duration: 0.5s;
}

.menu-small {
  width: 0%;
  transition-duration: 0.5s;
}

.big-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  transition-duration: 0.5s;
  width: 1440px;
  height: 970px;
}

.fixed-container {
  width: 1440px;
  position: absolute;
  left: 1000px;
  transition-duration: 1s;
}

.fixed-container .alien {
  position: fixed;
  top: 50px;
  transition-duration: 1s;
}

.position--tunnelOne {
  left: 560px;
  z-index: 0;
}

.position--planetOne {
  left: 1060px;
}

.position--tunnelTwo {
  left: 465px;
}

.position--planetTwo {
  left: 0px;
  z-index: 50;
}

.position--tunnelThree {
  left: 658px;
}

.alien--sprite__falling {
  width: 260px;
  height: 330px;
  animation: freak-out 1.5s steps(2) infinite;
  background: url(../img/alien/Alien-Falling-sprite--small.png) 0 0 no-repeat;
  background-size: 100% auto;
  transform: scale(0.8);
  transition-duration: 1s;
  z-index: 10;
}

.alien--sprite__steady {
  width: 360px;
  height: 466px;
  background: url(../img/alien/Alien-Floating--small.png) 0 0 no-repeat;
  background-size: 100% auto;
  animation-name: hvr-hang;
  animation-duration: 2s;
  transition-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  z-index: 10;
}

.alien--sprite__behind {
  z-index: -1;
}

#scene {
  position: absolute;
  width: 100%;
  height: 100%;
}

#scene .layer {
  position: relative;
  width: 100%;
  height: 100%;
}

#scene .layer .background {
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/transition-slide.png");
  transition-duration: 0.5s;
  opacity: 0.5;
}

#scene .layer .goldStars {
  position: absolute;
  top: 0%;
  left: 0%;
  height: auto;
  width: 100%;
  transition-duration: 0.5s;
}

#scene .layer .scene__intro {
  position: absolute;
  top: 375px;
  width: 567px;
  height: 203px;
  margin: 0 437px;
  padding-top: 27px;
  color: white;
  text-align: center;
  line-height: 1.2em;
  font-size: 34px;
  background: url(../img/scene__intro-square.png) no-repeat;
}

#scene .layer .e__logo--transparent {
  position: absolute;
  top: 120px;
  left: 0%;
  transition-duration: 0.5s;
  height: auto;
  width: 100%;
  opacity: 0.15;
}

#scene .layer .title {
  position: absolute;
  text-align: center;
  height: auto;
  width: 100%;
  top: 200px;
  left: 0;
  transition-duration: 0.5s;
  color: white;
}

#scene .layer .title .title__title {
  font-size: 134px;
  margin-bottom: -36px;
}

#scene .layer .title .title__description {
  font-size: 44px;
}

#scene .layer div {
  cursor: pointer;
}

#scene .layer div .scene__scrollButton {
  position: absolute;
  top: 860px;
  width: 200px;
  height: 69px;
  margin: 0 620px;
  padding-top: 16px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  cursor: pointer;
  background: url(../img/enter__button.png) no-repeat;
}

#scene .layer div .scene__buddy {
  position: absolute;
  top: 690px;
  margin: 0 644px;
  transition-duration: 1s;
}

#scene .layer div .scene__buddy:hover {
  transform-origin: 50%, 50%;
  transform: rotate(360deg) scale(0.8);
  transition-duration: 1s;
}

.tunnel {
  position: absolute;
  top: 970px;
  left: 0;
}

.tunnel .layer {
  position: absolute;
}

.tunnel .layer .tunnel-overlay {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 30;
}

.tunnel .layer .waves {
  height: 600px;
  width: 1440px;
  top: 200px;
  position: relative;
  /*width: 100%;*/
  z-index: -2;
  background-size: cover;
  background-image: url("../img/background-wave-transition/rightwave3.png");
  animation: ease-in-out wave 6s infinite;
  animation: ease-in-out wave 6s infinite reverse;
}

.tunnel .layer .tunnel__stars {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: -2;
}

.tunnel .layer .scene2__tunnel {
  position: absolute;
  height: auto;
  width: 1440px;
  z-index: -1;
}

.transition-bkg {
  position: absolute;
  top: 2080px;
  left: 0;
}

.transition-bkg .layer {
  position: absolute;
}

.transition-bkg .layer .bottles-abovePlanet {
  height: 878px;
  width: 1440px;
  top: 878px;
  position: relative;
  /*width: 100%;*/
  z-index: 1;
  background-size: cover;
  background-image: url("../img/bottles/layer-bottles1.png");
  animation: ease-in-out wave 10s infinite;
  animation: ease-in-out wave 10s infinite reverse;
}

.transition-bkg .layer .bottles-abovePlanet_two {
  height: 878px;
  width: 1440px;
  top: 888px;
  position: relative;
  /*width: 100%;*/
  z-index: 1;
  background-size: cover;
  background-image: url("../img/bottles/layer-bottles2.png");
  animation: ease-in-out wave 12s infinite;
  animation: ease-in-out wave 12s infinite reverse;
}

.transition-bkg .layer .bottles-directions {
  height: auto;
  text-align: center;
  color: white;
  width: 1440px;
  top: 1130px;
  padding: 0 446px;
  position: absolute;
  z-index: 50;
  font-size: 44px;
}

.transition-bkg .layer .transition-bkg__stars {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: -1;
}

.transition-bkg .layer .bkg {
  position: absolute;
  height: auto;
  width: 1440px;
  z-index: -2;
}

.planet {
  background-image: url("../img/stars/GoldStars.png");
}

.planet .frame--planet {
  position: absolute;
  top: 3320px;
  left: -150px;
  width: 1440px;
  height: 1232px;
  overflow: hidden;
}

.planet .frame--planet .planet-bkg {
  position: absolute;
  top: 28px;
  left: -70px;
  width: 1440px;
  height: auto;
  z-index: 30;
}

.planet .frame--planet .planet-fg {
  position: absolute;
  top: -42px;
  left: -39px;
  width: 1440px;
  height: auto;
  transition-duration: 1s;
  z-index: 50;
}

.planet .hidden {
  display: none;
  transition-duration: 1s;
}

.planet .frame {
  position: absolute;
  top: 3320px;
  left: -115px;
  width: 1440px;
  height: 1170px;
  z-index: 35;
  transition-duration: 1s;
}

.planet .frame #bottle-planet1 {
  animation-duration: 6s;
  position: absolute;
  width: 1440px;
  height: auto;
  transition: all .2s ease-out;
  animation-name: wiggle_x_rotate;
  transition-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.planet .frame #bottle-planet2 {
  animation-duration: 8s;
  position: absolute;
  width: 1440px;
  height: auto;
  transition: all .2s ease-out;
  animation-name: wiggle_x_rotate;
  transition-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.planet .frame #bottle-planet3 {
  animation-duration: 10s;
  position: absolute;
  width: 1440px;
  height: auto;
  transition: all .2s ease-out;
  animation-name: wiggle_x_rotate;
  transition-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.scrollmagic-pin-spacer {
  z-index: 30;
}

.panel {
  position: absolute;
  top: 3300px;
  left: 0;
  height: 1000px;
  width: 1440px;
  overflow: hidden;
}

.panel p {
  position: absolute;
  top: 50%;
  left: 50%;
}

.panel #target img#drunk_badguy {
  position: absolute;
  top: 0;
  left: 0px;
  width: 190px;
  height: 436px;
}

.tunnel-two {
  position: absolute;
  top: 4080px;
  left: 0;
}

.tunnel-two .layer {
  position: absolute;
}

.tunnel-two .layer .tunnel-overlay-two {
  position: absolute;
  height: 1938px;
  width: 1440px;
  z-index: 25;
}

.tunnel-two .layer .tunnel__stars-two {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 0;
}

.transition-bkg_two {
  position: absolute;
  top: 5080px;
  left: 0;
}

.transition-bkg_two .layer {
  position: absolute;
}

.transition-bkg_two .layer .clouds-abovePlanet {
  height: 878px;
  width: 1440px;
  top: 878px;
  position: absolute;
  z-index: 45;
}

.transition-bkg_two .layer .clouds-directions {
  height: auto;
  text-align: center;
  color: white;
  width: 1440px;
  top: 1278px;
  padding: 0 392px;
  position: absolute;
  z-index: 50;
  font-size: 44px;
}

.transition-bkg_two .layer .transition-bkg__stars {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: -1;
}

.transition-bkg_two .layer .bkg {
  position: absolute;
  height: auto;
  width: 1440px;
  z-index: -2;
}

.image-band {
  position: fixed;
  top: 100px;
  left: 200px;
  width: 10px;
  height: 10px;
}

.planet2 .frame--planet2 {
  position: absolute;
  top: 6580px;
  right: 0px;
  width: 1440px;
  height: 1938px;
  z-index: 30;
  overflow: hidden;
}

.planet2 .frame--planet2 .planet2-bkg {
  position: absolute;
  right: -270px;
  width: 1440px;
  height: auto;
}

.planet2 .frame--planet2 .planet2-fg {
  position: absolute;
  right: -165px;
  width: 1440px;
  height: auto;
  transition-duration: 1s;
  z-index: 35;
}

.planet2 .clouds {
  position: absolute;
  top: 6580px;
  right: 0px;
  width: 1440px;
  height: 1232px;
  z-index: 35;
  transition-duration: 1s;
}

.planet2 .clouds .cloud {
  position: absolute;
  right: -100px;
  width: 1440px;
  height: auto;
  transition: all .2s ease-out;
  transition-duration: 1s;
}

.planet2 .clouds .img1 {
  animation: moveclouds 200s infinite;
}

.planet2 .clouds .img2 {
  animation: movecloudsOpposite 100s infinite ease-out;
}

.planet2 .clouds .img3 {
  animation: movecloudsOpposite 50s infinite ease-out;
}

.planet2 .clouds .img4 {
  animation: moveclouds 40s infinite ease-in;
}

.tunnel-three {
  position: absolute;
  top: 7394px;
  left: 0;
}

.tunnel-three .layer {
  position: absolute;
}

.tunnel-three .layer .waves {
  height: 600px;
  width: 1440px;
  top: 100px;
  position: relative;
  /*width: 100%;*/
  z-index: -2;
  background-size: cover;
  background-image: url("../img/background-wave-transition/rightwave4.png");
}

.tunnel-three .layer .tunnel-overlay-three {
  position: absolute;
  height: 1938px;
  width: 1440px;
  z-index: 25;
  overflow: hidden;
}

.tunnel-three .layer .tunnel__stars-three {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 0;
}

.transition-bkg_three {
  position: absolute;
  top: 8456px;
  left: 0;
}

.transition-bkg_three .layer {
  position: absolute;
}

.transition-bkg_three .layer .transition-bkg__stars {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: -1;
}

.transition-bkg_three .layer .bkg {
  position: absolute;
  height: auto;
  width: 1440px;
  z-index: -2;
  opacity: 0.5;
}

.back-to-top {
  position: fixed;
  bottom: 170px;
  left: -180px;
  width: 200px;
  height: 142px;
  text-decoration: uppercase;
  text-align: center;
  padding-top: 25px;
  color: white;
  background-color: #ad732a;
  z-index: 200;
  transition-duration: 0.5s;
  cursor: pointer;
}

.back-to-top p {
  font-size: 40px;
  text-decoration: uppercase;
}

.back-to-top .font_large {
  font-size: 72px;
}

.back-to-top:hover {
  transition-duration: 0.5s;
  left: 0px !important;
}

.hero {
  width: 1440px;
  height: 1131px;
  position: relative;
  top: -1795px;
  left: 0;
  z-index: -1;
}

.layer-1, .layer-2, .layer-3, .layer-4 {
  transform-origin: 0% 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}

.layer-1 {
  -webkit-animation: parallax_fg1 linear 12s both infinite;
  animation: parallax_fg1 linear 12s both infinite;
  background: url(../img/forest/Forest2small.png);
  background-position: 100% 0%;
}

.layer-2 {
  background: url(../img/forest/Forest1small.png);
  background-position: 100% 0%;
}

.layer-3 {
  -webkit-animation: parallax_fg linear 15s both infinite;
  animation: parallax_fg linear 15s both infinite;
  background: url(../img/forest/Forest1small.png);
  background-size: 100%;
  background-position: 0 -19%;
}

.layer-4 {
  background: url(../img/forest/Forest2small.png) no-repeat;
  background-position: 100% -67%;
}

.animateTree {
  -webkit-animation: parallax_fg1 linear 20s both infinite;
  animation: parallax_fg1 linear 20s both infinite;
}

.animateTree2 {
  -webkit-animation: parallax_fg linear 40s both infinite;
  animation: parallax_fg linear 40s both infinite;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 1440px;
  overflow: hidden;
}

footer .footer__title {
  position: absolute;
  text-align: center;
  height: auto;
  width: 100%;
  top: 660px;
  left: 0;
  transition-duration: 0.5s;
  color: white;
}

footer .footer__title .title__title {
  font-size: 134px;
  margin-bottom: -36px;
}

footer .footer__title .title__description {
  font-size: 44px;
}

footer .footer__title .para {
  font-size: 28px;
  line-height: 1.8em;
  padding: 33px 248px 0 248px;
  background: url(../img/border.png) no-repeat;
  background-position: 50% 0%;
}

footer .footer__button {
  position: absolute;
  text-align: center;
  height: auto;
  width: 100%;
  bottom: 245px;
  transition-duration: 0.5s;
  color: white;
  font-size: 44px;
}

footer #footer__logo {
  position: absolute;
  width: 373px;
  bottom: 150px;
  margin: 0 534px;
}

footer #footer__logo img {
  margin-left: -23px;
}

footer .leaves__rotation {
  animation-delay: 1s;
  -webkit-animation: planet-rotate 7s linear infinite;
  animation: planet-rotate 7s linear infinite;
  z-index: -1;
  width: 1440px;
  height: 1440px;
  border-radius: 1000px;
  border: 5px solid #fff;
  position: absolute;
  top: 570px;
  left: -36px;
  transition: 3s;
  transform-origin: 50%;
  animation-iteration-count: infinite;
}

footer .leaves__rotation .leaves {
  top: -520px;
  left: 28%;
  width: 677px;
  height: 562px;
  background: url(../img/forest/Leaves2_03.png);
  position: absolute;
  z-index: 10;
}

footer .leaves__rotation_two {
  animation-delay: 1s;
  -webkit-animation: planet-rotate 8s linear infinite;
  animation: planet-rotate 8s linear infinite;
  z-index: -1;
  width: 1440px;
  height: 1440px;
  border-radius: 1000px;
  border: 5px solid #fff;
  position: absolute;
  top: 570px;
  left: -36px;
  transition: 3s;
  transform-origin: 50%;
  animation-iteration-count: infinite;
}

footer .leaves__rotation_two .leaves {
  top: -520px;
  left: 28%;
  width: 677px;
  height: 562px;
  background: url(../img/forest/Leaves2_03.png);
  position: absolute;
  z-index: 10;
}

footer .leaves__rotation_three {
  animation-delay: 1s;
  -webkit-animation: planet-rotate 9s linear infinite;
  animation: planet-rotate 9s linear infinite;
  z-index: -1;
  width: 1440px;
  height: 1440px;
  border-radius: 1000px;
  border: 5px solid #fff;
  position: absolute;
  top: 570px;
  left: -36px;
  transition: 3s;
  transform-origin: 50%;
  animation-iteration-count: infinite;
}

footer .leaves__rotation_three .leaves {
  top: -520px;
  left: 28%;
  width: 677px;
  height: 562px;
  background: url(../img/forest/Leaves2_03.png);
  position: absolute;
  z-index: 10;
}

footer .leaves__rotation_four {
  animation-delay: 1s;
  -webkit-animation: planet-rotate 10s linear infinite;
  animation: planet-rotate 10s linear infinite;
  z-index: -1;
  width: 1440px;
  height: 1440px;
  border-radius: 1000px;
  border: 5px solid #fff;
  position: absolute;
  top: 570px;
  left: -36px;
  transition: 3s;
  transform-origin: 50%;
  animation-iteration-count: infinite;
}

footer .leaves__rotation_four .leaves {
  top: -520px;
  left: 28%;
  width: 677px;
  height: 562px;
  background: url(../img/forest/Leaves2_03.png);
  position: absolute;
  z-index: 10;
}

footer .footer-leaves {
  position: absolute;
  bottom: 473px;
  left: -20px;
  width: 1600px;
  height: auto;
  z-index: -1;
}

footer .footer-planet {
  position: absolute;
  bottom: 0;
  width: 1440px;
  height: 970px;
  z-index: -1;
}

footer .footer__copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(225, 255, 255, 0.9);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px -12px 5px rgba(0, 0, 0, 0.2);
}

footer .footer__copyright p {
  color: #7c6b5a;
  padding: 55px 0 0 35px;
  text-transform: uppercase;
  font-size: 28px;
}

footer .footer-logos {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: auto;
  padding-right: 35px;
}

/* <><><><><><><><><><><><><><><ANIMATIONS<><><><><><><><><>><><> */
@keyframes moveclouds {
  100% {
    /*//margin-top: 1000px;*/
    transform: rotate(360deg);
  }
}

@keyframes movecloudsOpposite {
  100% {
    /*//margin-top: 1000px;*/
    transform: rotate(-360deg);
  }
}

@keyframes wave {
  0% {
    background-position: 0px 100%;
  }
  50% {
    background-position: 500px 100%;
  }
  100% {
    background-position: 0px 100%;
  }
}

@keyframes freak-out {
  0% {
    transform: rotate(1deg);
    background-position: 0 0;
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
    background-position: 0 200%;
  }
}

@keyframes wiggle_x_rotate {
  0% {
    transform: rotate(1deg) scale(1.1);
  }
  25% {
    transform: rotate(-1deg) scale(1.1);
  }
  50% {
    transform: rotate(1deg) scale(1.13);
  }
  75% {
    transform: rotate(-1deg) scale(1.1);
  }
  100% {
    transform: rotate(1deg) scale(1.1);
  }
}

@keyframes wiggle_y {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 6%;
  }
  100% {
    bottom: 5%;
  }
  @media only screen and (min-width: 768px) {
    0% {
      bottom: 10%;
    }
    50% {
      bottom: 11%;
    }
    100% {
      bottom: 10%;
    }
  }
}

@keyframes scale_logo {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  75% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0.2;
  }
}

@keyframes planet-rotate {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes parallax_fg {
  0% {
    background-position: 2000px;
  }
  100% {
    background-position: 1440px;
  }
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px;
  }
  100% {
    background-position: 1440px;
  }
}

@-webkit-keyframes parallax_fg1 {
  0% {
    background-position: -27px 90%;
  }
  100% {
    background-position: 1440px 90%;
  }
}

@keyframes parallax_fg1 {
  0% {
    background-position: -27px 90%;
  }
  100% {
    background-position: 1440px 90%;
  }
}
