/* _________________________________________
CONTENT:	Asics Animation Webpage
AUTHOR:		Melissa I. Sattler
____________________________________________

TABLE OF CONTENTS:

1. VARIABLES
2. TYPOGRAPHY
3. CONTENT

========================================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizinshoe-side2g: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*keep content on float element from going over eachother*/
/* 1. VARIABLES  ========================================= */
/* 2. TYPOGRAPHY  ======================================== */
body {
  font-family: "Orator";
  text-decoration: uppercase;
}

@font-face {
  font-family: Orator;
  font-weight: normal;
  src: url(../font/Orator-Std-Medium.ttf) format("truetype");
}

/*  CONTENT  =============================================== */
body.index {
  background-color: #424242;
  -webkit-font-smoothing: antialiased;
  background-image: url("../img/stars/GoldStars.png");
}

body.index .body__starbkg {
  position: relative;
  top: 0;
  left: 0;
  width: 1440px;
  height: 11264px;
  margin: 0 auto;
  z-index: -10;
}

div.page-wrapper {
  position: relative;
  width: 1440px;
  height: 11264px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  transition-duration: 0.5s;
}

.menu-small {
  width: 0%;
  transition-duration: 0.5s;
}

.big-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  transition-duration: 0.5s;
  width: 1440px;
  height: 970px;
}

.alien--sprite__falling {
  position: fixed;
  top: 15%;
  left: 560px;
  width: 260px;
  height: 330px;
  animation: freak-out 1.5s steps(2) infinite;
  background: url(../img/alien/Alien-Falling-sprite--small.png) 0 0 no-repeat;
  background-size: 100% auto;
  transform: scale(0.8);
  transition-duration: 1s;
  z-index: 10;
}

.alien--sprite__steady {
  position: fixed;
  top: 15%;
  left: 70%;
  width: 400px;
  height: 518px;
  background: url(../img/alien/Alien-Floating--small.png) 0 0 no-repeat;
  background-size: 100% auto;
  animation-name: hvr-hang;
  animation-duration: 2s;
  transition-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  z-index: 10;
}

.alien--sprite__tunnel {
  position: fixed;
  top: 15%;
  left: 460px;
  width: 260px;
  height: 330px;
  animation: freak-out 1.5s steps(2) infinite;
  background: url(../img/alien/Alien-Falling-sprite--small.png) 0 0 no-repeat;
  background-size: 100% auto;
  transform: scale(0.8);
  transition-duration: 1s;
  z-index: 10;
}

#scene {
  position: absolute;
  width: 100%;
  height: 100%;
}

#scene .layer {
  position: relative;
  width: 100%;
  height: 100%;
}

#scene .layer .background {
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/transition-slide.png");
  transition-duration: 0.5s;
  opacity: 0.5;
}

#scene .layer .goldStars {
  position: absolute;
  top: 0%;
  left: 0%;
  height: auto;
  width: 100%;
  transition-duration: 0.5s;
}

#scene .layer .e__logo--transparent {
  position: absolute;
  top: 120px;
  left: 0%;
  transition-duration: 0.5s;
  height: auto;
  width: 100%;
  opacity: 0.15;
}

#scene .layer .title {
  position: absolute;
  text-align: center;
  height: auto;
  width: 100%;
  top: 200px;
  left: 0;
  transition-duration: 0.5s;
  color: white;
}

#scene .layer .title .title__title {
  font-size: 134px;
  margin-bottom: -36px;
}

#scene .layer .title .title__description {
  font-size: 44px;
}

.tunnel {
  position: absolute;
  top: 970px;
  left: 0;
}

.tunnel .layer {
  position: absolute;
}

.tunnel .layer .tunnel-overlay {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 30;
}

.tunnel .layer .tunnel__stars {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 0;
}

.planet .frame--planet {
  position: absolute;
  top: 3320px;
  left: -150px;
  z-index: 30;
}

.planet .frame--planet .planet-bkg {
  position: absolute;
  top: 28px;
  left: -70px;
  width: 1440px;
  height: auto;
}

.planet .frame--planet .planet-fg {
  position: absolute;
  top: -42px;
  left: -39px;
  width: 1440px;
  height: auto;
  transition-duration: 1s;
  z-index: 35;
}

.planet .hidden {
  display: none;
  transition-duration: 1s;
}

.planet .frame {
  position: absolute;
  top: 3320px;
  left: -115px;
  width: 1440px;
  height: 1170px;
  z-index: 35;
  transition-duration: 1s;
  overflow: hidden;
}

.planet .frame #bottle-planet1,
.planet .frame #bottle-planet2,
.planet .frame #bottle-planet3 {
  position: absolute;
  width: 1440px;
  height: auto;
  transition: all .2s ease-out;
  transition-duration: 1s;
}

.scrollmagic-pin-spacer {
  z-index: 30;
}

.panel {
  position: absolute;
  top: 3300px;
  left: 0;
  height: 1440px;
  width: 1440px;
  overflow: hidden;
  z-index: 30;
}

.panel p {
  position: absolute;
  top: 50%;
  left: 50%;
}

.panel #target img#drunk_badguy {
  position: absolute;
  top: 0;
  left: -58px;
  width: 120px;
  height: 296px;
}

.tunnel-two {
  position: absolute;
  top: 4080px;
  left: 0;
}

.tunnel-two .layer {
  position: absolute;
}

.tunnel-two .layer .tunnel-overlay-two {
  position: absolute;
  height: 1938px;
  width: 1440px;
  z-index: 25;
}

.tunnel-two .layer .tunnel__stars-two {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 0;
}

.image-band {
  position: fixed;
  top: 100px;
  left: 200px;
  width: 10px;
  height: 10px;
}

.planet2 .frame--planet2 {
  position: absolute;
  top: 6580px;
  right: 0px;
  width: 1440px;
  height: 1938px;
  z-index: 30;
  overflow: hidden;
}

.planet2 .frame--planet2 .planet2-bkg {
  position: absolute;
  right: -270px;
  width: 1440px;
  height: auto;
}

.planet2 .frame--planet2 .planet2-fg {
  position: absolute;
  right: -165px;
  width: 1440px;
  height: auto;
  transition-duration: 1s;
  z-index: 35;
}

.planet2 .clouds {
  position: absolute;
  top: 6580px;
  right: 0px;
  width: 1440px;
  height: 1232px;
  z-index: 35;
  transition-duration: 1s;
  overflow: hidden;
}

.planet2 .clouds .cloud {
  position: absolute;
  right: -100px;
  width: 1440px;
  height: auto;
  transition: all .2s ease-out;
  transition-duration: 1s;
}

.tunnel-three {
  position: absolute;
  top: 7394px;
  left: 0;
}

.tunnel-three .layer {
  position: absolute;
}

.tunnel-three .layer .tunnel-overlay-three {
  position: absolute;
  height: 1938px;
  width: 1440px;
  z-index: 25;
  overflow: hidden;
}

.tunnel-three .layer .tunnel__stars-three {
  position: absolute;
  height: 1440px;
  width: 1440px;
  z-index: 0;
}

.back-to-top {
  position: fixed;
  bottom: 170px;
  left: -180px;
  width: 195px;
  height: 142px;
  text-decoration: uppercase;
  text-align: center;
  padding-top: 25px;
  color: white;
  background-color: #ad732a;
  z-index: 100;
  transition-duration: 0.5s;
}

.back-to-top p {
  font-size: 40px;
  text-decoration: uppercase;
}

.back-to-top .font_large {
  font-size: 72px;
}

.back-to-top:hover {
  transition-duration: 0.5s;
  left: 0px;
}

footer {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 1440px;
  height: 970px;
}

footer img {
  width: 1440px;
  height: 970px;
}

footer .footer__copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(225, 255, 255, 0.9);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px -12px 5px rgba(0, 0, 0, 0.2);
}

/* <><><><><><><><><><><><><><><ANIMATIONS<><><><><><><><><>><><> */
@keyframes freak-out {
  0% {
    transform: rotate(1deg);
    background-position: 0 0;
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
    background-position: 0 200%;
  }
}

@keyframes wiggle_x_rotate {
  0% {
    transform: rotate(1deg) scale(1.1);
  }
  25% {
    transform: rotate(-1deg) scale(1.1);
  }
  50% {
    transform: rotate(1deg) scale(1.13);
  }
  75% {
    transform: rotate(-1deg) scale(1.1);
  }
  100% {
    transform: rotate(1deg) scale(1.1);
  }
}

@keyframes wiggle_y {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 6%;
  }
  100% {
    bottom: 5%;
  }
  @media only screen and (min-width: 768px) {
    0% {
      bottom: 10%;
    }
    50% {
      bottom: 11%;
    }
    100% {
      bottom: 10%;
    }
  }
}

@keyframes scale_logo {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  75% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0.2;
  }
}
