div {
	height: 500px;
	position: relative;
	width: 100%;
	background-size: cover;
	background-image: url('../img/background-wave-transition/rightwave3.png');
	animation: cubic-bezier(0,.25,.91,.72) wave 4s infinite;
}

@keyframes wave {
	0%{
		background-position: 0px;
	}
	100% {
		background-position: 2000px;
	}
}
