@import "variables";
.shoe_container.bluemode{
	background-image: url(../img/blue_dot_bkg.jpg);

		.background_triangle{
			background-color: #fc442a;
			@include bp-tablet{
				right: -20%;
			}
		}
		header{
			background-color: $asics-blue;

			ul{
				li{
					color: $body-color;
					
					.cart{
						-webkit-filter: invert(100%);
    					filter: invert(100%);
    				}				
				}
			}

			#logo_black{
				-webkit-filter: invert(100%);
    			filter: invert(100%);
			}
		}
	.shoe-container2 {
		
		.round-button {
			
			.round-button-circle {
				border:10px solid $asics-orange;
			    background: $asics-orange;  
			    box-shadow: 0 0 3px #555;
			    &:hover {
			    	border:10px solid $asics-beige;
					background: $asics-blue;
			    	background-color: $asics-blue;  
				}
			}
		}
	}

	.shoe_description{
		text-shadow: 0 0 3px $asics-blue;
		color: $body-color;
		
	}	
}
