@import "variables";
.shoe_container.pinkmode{
	background-image: url(../img/pink_dot_bkg.jpg);

		.background_triangle{
			background-color: $asics-green;
			@include bp-tablet{
				right: -20%;
			}
		}
		header{
			background-color: #e87390;
			ul{
				li{
					color: $body-color;
					
					.cart{
						-webkit-filter: invert(100%);
    					filter: invert(100%);
    				}				
				}
			}

			#logo_black{
				-webkit-filter: invert(100%);
    			filter: invert(100%);
			}
		}
	.shoe-container2 {
		
		.round-button {
			
			.round-button-circle {
				border: 10px solid white;
			    background: white;  
			    box-shadow: 0 0 3px #555;
			    &:hover {
			    	border: 10px solid $asics-green;
					background: $asics-pink;
			    	background-color: $asics-pink;  
				}
			}
		}
	}

	.shoe_description{
		text-shadow: 0 0 3px $asics-pink;
		color: $body-color;	
	}	
}
