$primary-color: #444466;
$header-color: beige;
$body-color: white;
$asics-black: #1f2525;
$asics-red: #d20e32;
$asics-orange: #fc442a;
$asics-blue: #046d9a;
$asics-pink: #e87390;
$asics-beige: #e0cca7;
$asics-yellow: #FFE237;
$asics-green: #048686;

$column-1-3: 1 / 3 * 100%;
$column-1-1: 100%;
$column-9-10: 9/10 * 100%;

$text-narrow: 95%;
$text-wide: 640px;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$desktopXL-breakpoint: 1400px;

@mixin parralax__scene{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    transition-duration: 0.5s;
}
@mixin steady__animation{
	width: 360px;
    height: 466px;
	// background: url(../img/alien/Alien-Falling-sprite.png);
	// animation: freak-out 1.5s steps(2) infinite;
    background: url(../img/alien/Alien-Floating--small.png) 0 0 no-repeat;
    background-size: 100% auto;
	animation-name: hvr-hang;
	animation-duration: 2s;
	transition-duration: 0.2s;
	animation-iteration-count: infinite; //1 -default
	// animation-direction: reverse; //alternate
	animation-direction: alternate; //alternate
	animation-timing-function: ease-out;
	z-index: 10;
}
@mixin tunnel__animation{
	width: 260px;
    height: 330px;
	// background: url(../img/alien/Alien-Falling-sprite.png);
	animation: freak-out 1.5s steps(2) infinite;
    background: url(../img/alien/Alien-Falling-sprite--small.png) 0 0 no-repeat;
    background-size: 100% auto;
    transform: scale(0.8);
    transition-duration: 1s;
	z-index: 10;
}
@mixin bottle_animation{
	position: absolute;
	width: 1440px;
	height: auto;
	transition: all .2s ease-out;
	animation-name: wiggle_x_rotate;
	transition-duration: 0.2s;
	animation-iteration-count: infinite; //1 -default
	// animation-direction: reverse; //alternate
	animation-direction: alternate; //alternate
	animation-timing-function: ease-out;
}

@mixin leaves__rotate{
	z-index: -1;
	width: 1440px;
	height: 1440px;
	border-radius:1000px;
	border: 5px solid #fff;
	position: absolute;
    top: 570px;
	left: -36px;
	transition: 3s;
	transform-origin: 50%;
	// -webkit-animation: planet-rotate 8s linear infinite;
	// animation: planet-rotate 8s linear infinite;
	// animation-duration: 8s;
	animation-iteration-count: infinite;
	.leaves{
		top: -520px;
		left: 28%;
		width: 677px;
		height: 562px;
		// border-radius: 40px;
		background: url(../img/forest/Leaves2_03.png);
		position: absolute;
		z-index: 10;
	}
}


@mixin bp-tablet {
  	@media only screen and ( min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin bp-desktop {
  	@media only screen and ( min-width: $desktop-breakpoint){
		@content;
	}
}

@mixin bp-xlDesktop {
  	@media only screen and ( min-width: $desktopXL-breakpoint){
		@content;
	}
}
