/* _________________________________________
CONTENT:	Asics Animation Webpage
AUTHOR:		Melissa I. Sattler
____________________________________________

TABLE OF CONTENTS:

1. VARIABLES
2. TYPOGRAPHY
3. CONTENT

========================================================== */
*{
	box-sizing: border-box;
	-webkit-box-sizinshoe-side2g: border-box; 
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}/*keep content on float element from going over eachother*/

/* 1. VARIABLES  ========================================= */

@import "variables";
// @import "redmode";
// @import "pinkmode";
// @import "bluemode";
// @font-face {font-family: 'Onick';src: url('webfonts/310FE3_0_0.eot');src: url('webfonts/310FE3_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/310FE3_0_0.woff2') format('woff2'),url('webfonts/310FE3_0_0.woff') format('woff'),url('webfonts/310FE3_0_0.ttf') format('truetype');}


/* 2. TYPOGRAPHY  ======================================== */

body{
	font-family: "Orator";
	text-decoration: uppercase;
	// font-family: "Montserrat";
	//setting width of website
	// width: 1440px;
	// margin: 0 auto;
}
@font-face {
	font-family: Orator;
	font-weight: normal;
	src: url(../font/Orator-Std-Medium.ttf) format("truetype");
}

// @font-face {
// 	font-family: Campton;
// 	font-weight: bold;
// 	src: url(../font/Campton-BoldDEMO.otf) format("opentype");
// }

/*  CONTENT  =============================================== */
body.index{
	background-color: #424242;
	-webkit-font-smoothing: antialiased;
	background-image: url('../img/stars/GoldStars.png');
	.body__starbkg{
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 1440px;
	    height: 11264px;
	    margin: 0 auto;
	    z-index: -10;
	}
}
div.page-wrapper{
  	position: relative;
  	width: 1440px;
	height: 11264px;
  	margin: 0 auto;		
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 92px;
	background-color: white;
	opacity: 0.8;
	z-index: 100;
	transition-duration: 0.5s;
	#header__logo{
	}
}
.menu-small{
	width: 0%;
	transition-duration: 0.5s;
	// height: 200px;
}

.big-image{
	@include parralax__scene;
	width: 1440px;
	height: 970px;
}
.alien{
	position: fixed;
	top: 120px;
	left: 1000px;
	@include steady__animation;
}
.alien--sprite__falling{
	position: fixed;
	top: 15%;
	left: 560px;
	// width: 300px;
 //    height: 388px;
  	@include tunnel__animation;
}
.alien--sprite__steady{
	position: fixed;
	top: 50px;
	left: 1000px;
	// @include steady__animation;
}
.alien--sprite__planet2{
	position: fixed;
	top: 50px;
	left: 60px;
	@include steady__animation;
}
.alien--sprite__behind{
	z-index: -1;
}

#scene{
	position: absolute;
	width: 100%;
	height: 100%;

	.layer{
		position: relative;
		width: 100%;
		height: 100%;

		.background{
			//hack for backgournd cover tags
			transform: scale(1.2);
			width: 100%;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
			overflow: hidden;
			background-position: 50% 50%;
			background-size: cover;
			background-attachment: fixed;
			background-repeat: no-repeat;
			// background-color: #000000;
			background-image: url('../img/transition-slide.png');
			transition-duration: 0.5s;
			opacity: 0.5;
		}	
		.goldStars{
			position: absolute;
			top: 0%;
			left: 0%;
   			height: auto;
   			width: 100%;
   			transition-duration: 0.5s;

		}
		.scene__intro{
			position: absolute;
			top: 375px;
			width: 567px;
			height: 203px;
			margin: 0 437px;
			padding-top: 27px;
			color: white;
			text-align: center;
			line-height: 1.2em;
			font-size: 34px;
			background: url(../img/scene__intro-square.png) no-repeat;
		}

		.e__logo--transparent{
			position: absolute;
			top: 120px;
			left: 0%;			
			transition-duration: 0.5s;
			// width: 25%;
			height: auto;
			width: 100%;
			opacity: 0.15;
		}

		.title{
			position: absolute;
			text-align: center;
			height: auto;
			width: 100%;
			top: 200px;
    		left: 0;
			transition-duration: 0.5s;
			color: white;
			.title__title{
				font-size: 134px;
				margin-bottom: -36px;		
			}
			.title__description{
				font-size: 44px;
			}	
		}
		div{
			cursor: pointer;
			.scene__scrollButton{
				position: absolute;
				top: 880px;
				width: 200px;
				height: 69px;
				margin: 0 620px;
				padding-top: 16px;
				color: white;
				text-transform: uppercase;
				text-align: center;
				font-size: 60px;
				cursor: pointer;
				background: url(../img/enter__button.png) no-repeat;
			}
			.scene__buddy{
				position: absolute;
				top: 710px;
				// left: 50%;
				margin: 0 644px;
				transition-duration: 1s;
				&:hover{
					transform-origin: 50%, 50%;
					transform: rotate(360deg) scale(0.8);
					transition-duration: 1s;
				}
			}
		}

	}
}

.tunnel{
    position: absolute;
    top: 970px;
    left: 0;
    .layer{
    	position: absolute;
    	.tunnel-overlay{
    		position: absolute;
    	    height: 1440px;
    		width: 1440px;
    		z-index: 30;
			// width: 1440px;
			// height: auto;
		}
		.tunnel__stars{
			position: absolute;
    	    height: 1440px;
    		width: 1440px;
    		z-index: 0;
		}
    }

}

.planet{
	// position: absolute;
 //    top: 250%;
 //    left: 0;
 //    z-index: 35;
	.frame--planet{
		position: absolute;
		top: 3320px;
		left: -150px;
		width: 1440px;
		height: 1232px;
		overflow: hidden;
		// z-index: 30;
		.planet-bkg{
			position: absolute;
			top: 28px;
		    left: -70px;
		    width: 1440px;
		    height: auto;
		    z-index: 30;
		}
		.planet-fg{
			position: absolute;
		    top: -42px;
    		left: -39px;
		    width: 1440px;
		    height: auto;
		    transition-duration: 1s;
		    z-index: 50;
		}
	}
	.hidden{
		display: none;
		transition-duration: 1s;
	}
	.frame{
		position: absolute;
		top: 3320px;
    	left: -115px;
 	    width: 1440px;
 	    height: 1170px;
		z-index: 35;
		transition-duration: 1s;
		#bottle-planet1,
		#bottle-planet2,
		#bottle-planet3{
			position: absolute;
			width: 1440px;
			height: auto;
			transition: all .2s ease-out;
			transition-duration: 1s;

		}
	}
}

.scrollmagic-pin-spacer{
	z-index: 30;
}
.panel {
	position: absolute;
	top: 3300px;
	left: 0;
	height: 1000px;
	width: 1440px;
	overflow: hidden;
	// z-index: 30;
	p{
		position: absolute;
		top: 50%;
		left: 50%;
	}
	#target{
		// width: 100px;
		// height: 100px;
		img#drunk_badguy{
			position: absolute;
		    top: 0;
		    left: -68px;
		    width: 140px;
		    height: 336px;
		    // right: -58px; //use later to make badguy come in from left
		    // z-index: 40;
			// width: 20%;
			// height: 20%;
		}
	}	
}

.tunnel-two{
    position: absolute;
    top: 4080px;
    left: 0;
    .layer{
    	position: absolute;
    	.tunnel-overlay-two{
    		position: absolute;
    	    height: 1938px;
    		width: 1440px;
    		z-index: 25;
			// width: 1440px;
			// height: auto;
		}
		.tunnel__stars-two{
			position: absolute;
    	    height: 1440px;
    		width: 1440px;
    		z-index: 0;
		}
    }

}

.image-band{
	position: fixed;
	top: 100px;
	left: 200px;
	width:	10px;
	height: 10px;
}

.planet2{
	// position: absolute;
 //    top: 250%;
 //    left: 0;
 //    z-index: 35;
	.frame--planet2{
		position: absolute;
		top: 6580px;
		right: 0px;
		width: 1440px;
	    height: 1938px;
	    z-index: 30;
	    overflow: hidden;

		.planet2-bkg{
			position: absolute;
			// top: 28px;
		    right: -270px;
		    width: 1440px;
		    height: auto;
		}
		.planet2-fg{
			position: absolute;
		    // top: 86px;
    		right: -165px;
		    width: 1440px;
		    height: auto;
		    transition-duration: 1s;
		    z-index: 35;
		}
	}
	// .hidden{
	// 	display: none;
	// 	transition-duration: 1s;
	// }
	.clouds{
		position: absolute;
		top: 6580px;
    	right: 0px;
 	    width: 1440px;
 	    height: 1232px;
		z-index: 35;
		transition-duration: 1s;
		overflow: hidden;
		.cloud {
			position: absolute;
			right: -100px;
			width: 1440px;
			height: auto;
			transition: all .2s ease-out;
			transition-duration: 1s;
			//z-index: 35;
		}
	}
}
.tunnel-three{
    position: absolute;
   	top: 7394px;
    left: 0;
    .layer{
    	position: absolute;

    	.tunnel-overlay-three{
    		position: absolute;
    	    height: 1938px;
    		width: 1440px;
    		z-index: 25;
    		overflow: hidden;
		}
		.tunnel__stars-three{
			position: absolute;
    	    height: 1440px;
    		width: 1440px;
    		z-index: 0;
		}
    }

}

.back-to-top{
	position: fixed;
    bottom: 170px;
    left: -170px;
	width: 200px;
	height: 142px;
	// border-radius: 60px;
	text-decoration: uppercase;
	text-align: center;
	padding-top: 25px;
	color: white;
	background-color: rgb(173, 115, 42);
	z-index: 200;
	transition-duration: 0.5s;
	cursor: pointer;
	p{
		font-size: 40px;
		text-decoration: uppercase;
	}
	.font_large{
		font-size: 72px;

	}&:hover{
		transition-duration: 0.5s;
		left: 0px !important;
	}
} 
//<><><><><><><><><><><><><>hero forest animation <><><><

.hero {
    width: 1440px;
    height: 1000px;
    position: relative;
    top: -1537px;
    left: 0;
    z-index: -1;
}
.layer-1,.layer-2,.layer-3, .layer-4 {
  transform-origin: 0% 0%;
  //border: 1px solid green;
  position: absolute; 
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}
.layer-1 {
    -webkit-animation: parallax_fg1 linear 12s both infinite;
          animation: parallax_fg1 linear 12s both infinite;
    background: url(../img/forest/Forest2small.png);
    background-position: 100% 0%;

}
.layer-2 {
    background: url(../img/forest/Forest1small.png);
    background-position: 100% 0%;
}
.layer-3 {
    -webkit-animation: parallax_fg linear 15s both infinite;
          animation: parallax_fg linear 15s both infinite;
    background: url(../img/forest/Forest1small.png);
        background-size: 100%;
        background-position: 0 -19%;

}
.layer-4 {
    background: url(../img/forest/Forest2small.png) no-repeat;
    background-position: 100% 6%;
}

.animateTree {
    -webkit-animation: parallax_fg1 linear 20s both infinite;
            animation: parallax_fg1 linear 20s both infinite;  
}
.animateTree2 {
    -webkit-animation: parallax_fg linear 40s both infinite;
            animation: parallax_fg linear 40s both infinite;
}
///<><><><><><end of forest animation <><><><><><

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	// margin-top: -970px;
	width: 1440px;
	height: 1440px;
	overflow: hidden;
	// z-index: 35;
	.footer__title{
			position: absolute;
			text-align: center;
			height: auto;
			width: 100%;
			top: 660px;
    		left: 0;
			transition-duration: 0.5s;
			color: white;
			.title__title{
				font-size: 134px;
				margin-bottom: -36px;	
				
			}
			.title__description{
				font-size: 44px;
			}
			.para{
				font-size: 28px;
				line-height: 1.8em;
				padding: 33px 248px 0 248px;
				background: url(../img/border.png) no-repeat;
				background-position: 50% 0%;
			}
			
		}
	.footer__button{
		position: absolute;
		text-align: center;
		height: auto;
		width: 100%;
		// top: 100px;
		// left: 720px;
		bottom: 245px;
		transition-duration: 0.5s;
		color: white;
		font-size: 44px;
	}
	#footer__logo{
		position: absolute;
    	width: 373px;
    	bottom: 150px;
    	margin: 0 534px;
    	img{
    		margin-left: -23px;
    	}
	}
	.leaves__rotation {
				z-index: -1;
				width: 1440px;
				height: 1440px;
				border-radius:1000px;
				border: 5px solid #fff;
				position: absolute;
			    top: 570px;
    			left: -36px;
				transition: 3s;
				transform-origin: 50%;
				-webkit-animation: planet-rotate 8s linear infinite;
				animation: planet-rotate 8s linear infinite;
				animation-duration: 8s;
				animation-delay: 0s;
				animation-iteration-count: infinite;
				.leaves{
					top: -520px;
					left: 28%;
					width: 677px;
					height: 562px;
					// border-radius: 40px;
					background: url(../img/forest/Leaves2_03.png);
					position: absolute;
					z-index: 10;
				}
			}
	.footer-planet{
		position: absolute;
		bottom: 0;
		width: 1440px;
		height: 970px;
		z-index: -1;
	}
	.footer__copyright{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 90px;
		background-color: rgba(225,255,255, 0.9);
		border-top: 1px solid rgba(0,0,0, 0.35);
		box-shadow: 0px -12px 5px rgba(0,0,0, 0.2);
		p{
			color: #7c6b5a;
			padding: 60px 0 0 35px;
			text-transform: uppercase;
			font-size: 28px;
		}
	}
	.footer-logos{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 400px;
		height: auto;
		padding-right: 35px;
	}
}	

/* <><><><><><><><><><><><><><><ANIMATIONS<><><><><><><><><>><><> */

@keyframes freak-out {
  0% {
  	transform: rotate(1deg);
    background-position: 0 0;
  }
	25% 	{transform: rotate(-1deg); }//left starts and stops at same pt
	50%		{transform: rotate(1deg);}
	75% 	{transform: rotate(-1deg); }
  100% {
  	transform: rotate(1deg);
    background-position: 0 200%;
  }
}


@keyframes wiggle_x_rotate{
	0%		{transform: rotate(1deg) scale(1.1);}
	25% 	{transform: rotate(-1deg) scale(1.1);}//left starts and stops at same pt
	50%		{transform: rotate(1deg) scale(1.13);}
	75% 	{transform: rotate(-1deg) scale(1.1);}
	100% 	{transform: rotate(1deg) scale(1.1);}
}

@keyframes wiggle_y{
	0% 		{bottom: 5%;}//left starts and stops at same pt
	50% 	{bottom: 6%;}
	100% 	{bottom: 5%;}
	@include bp-tablet{
		0% 		{bottom: 10%;}//left starts and stops at same pt
		50% 	{bottom: 11%;}
		100% 	{bottom: 10%;}
	}
}

@keyframes scale_logo{
	0% 		{transform: scale(1.1);}//left starts and stops at same pt
	50% 	{transform: scale(1.2);}
	100% 	{transform: scale(1.1);}
}

@keyframes hvr-hang{
  	0% {
    	-webkit-transform: translateY(8px);
    	transform: translateY(8px);
  	}
  	25% {
    	-webkit-transform: translateY(4px);
    	transform: translateY(4px);
  	}

  	50% {
    	-webkit-transform: translateY(8px);
    	transform: translateY(8px);
  	}
  	75% {
    	-webkit-transform: translateY(4px);
    	transform: translateY(4px);
  	}

  	100% {
    	-webkit-transform: translateY(8px);
    	transform: translateY(8px);
  	}
}

@keyframes hvr-ripple-out{
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0.2;
	}
}
@keyframes planet-rotate {
	from{
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes parallax_fg {
  0% {
    background-position: 2000px;
  }
  100% {
    background-position: 1440px;
  }
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px;
  }
  100% {
    background-position: 1440px;
  }
}

@-webkit-keyframes parallax_fg1 {
/*  0% {
    background-position: -2765px 90%;
  }
  100% {
    background-position: -550px 90%;
  }*/
    0% {
    background-position: -27px 90%;
  }
  100% {
    background-position: 1440px 90%;
  }
}
@keyframes parallax_fg1 {
  0% {
    background-position: -27px 90%;
  }
  100% {
    background-position: 1440px 90%;
  }
}
